.main-contact {
    height: 85vh;
    background: linear-gradient(#D9AFD9, #97D9E1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-contact-container {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40rem;
    height: 30rem;
    border-radius: 10px;
}

.main-contact-container a {
    text-decoration: none;
    background: -webkit-linear-gradient(#AD86B8, #C0F6D0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-contact-container a:hover {
    color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

@media (max-width : 1024px) {
    .main-contact-container {
        height: 20rem;
        width: 30rem;
        font-size: 15px;
    }
}

@media (max-width : 820px) {

    .main-contact {
        height: 88vh;
    }
    
    .main-contact-container {
        width: 35rem;
        height: 30rem;
        font-size: 20px;
    }
}

@media (max-width : 414px) {
    .main-contact-container {
        width: 18rem;
        font-size: 15px;
    }
}

@media (max-width : 375px) {
    .main-contact-container {
        font-size: 13px;
        height: 20rem;
    }
}