.header {
    display: flex;
    height: 15vh;
   }

   .header h1 {
    background: -webkit-linear-gradient(#AD86B8, #C0F6D0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
   }
   
   .header-left {
     width: 50%;
     display: flex;
     flex-direction: column;
     text-align: center;
     
    }

    .header-left a {
      text-decoration: none;
    }

   .header-right {
     width: 50%;
     display: flex;
     justify-content: space-around;
     align-items: center;
   }

   .header-right button {
    width: 7rem;
    height: 2.2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    transition: 0.1s;
    background: -webkit-linear-gradient(#AD86B8, #C0F6D0);
    -webkit-background-clip: text;
    font-size: 15px;
    
  }

 
  button:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.3s;
}

@media (max-width: 1024px) {
  .header {
    height: 18vh;
  }
  .header-left h1 {
    font-size: 20px;
  }

  .header-left {
    font-size: 15px;
  }

  .header-right button {
   font-size: 13px;
   width: 6rem;
   height: 2rem;
  }
}

@media(max-width: 820px) {
  .header {
   height: 12vh;
  }

  .header-left {
    justify-content: center;
    margin-bottom: 1.5rem;
    font-size: 18px;
  }

  .header-left h1 {
    font-size: 24px;
  }

  .header-right button {
    font-size: 15px;
  }
}


@media (max-width:688px) {

  .header {
    height: 15vh;
  }

  .header-left h1 {
    font-size: 22px;
  }

  .header-left {
    font-size: 17px;
  }
  .header-right {
    flex-direction: column;
  }

  .header-right button {
    height: 1.8rem;
  }
  

}

@media (max-width: 414px) {
  .header-left h1 {
    font-size: 20px;
  }

  .header-left {
    font-size: 16px;
  }

  .header-right button {
   font-size: 12px;
  }
}

@media (max-width:375px) {
  .header-left h1 {
    font-size: 18px;
  }

  .header-left {
    font-size: 14px;
  }

  .header-right button {
   font-size: 10px;
   width: 4.5rem;
   height: 1.5rem;
  }
}






  

  

  