.header {
    display: flex;
    height: 15vh;
   }
   
   .header-left {
     width: 50%;
     display: flex;
     align-items: center;
     flex-direction: column;
     text-align: center;
     
    }

    /* .header-left h1 {
        background: linear-gradient(to right, #761643 , #411A4A, #3A1B74,#301D83 ); 
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    }
    */
   .header-right {
     width: 50%;
     background-color: blueviolet;
     display: flex;
     justify-content: space-around;
   }

   /* .header-right button {

   } */